{% extends "base_app.html.twig" %}

{% block title %}Presets{% endblock %}

{% block breadcrumb %}
        {{ parent() }}
        <twig:BreadcrumbItem href="{{ url('presets_list') }}">
                Presets
        </twig:BreadcrumbItem>
{% endblock %}

{% block content %}
        <div class="row" id="presets-row">

            {% for preset in presets %}
                <div class="col-sm-3 col-lg-2 p-0">
                {% block preset %}
                {% endblock %}
                </div>
            {% endfor %}
        </div>
{% endblock %}

