{% extends "base.html.twig" %}

{% block title %}Presets{% endblock %}

{% block body %}
    <div class="container">
        <h1>Presets</h1>

        {%  block presets_actions %}
        {% endblock %}

        <div class="row">

            {% for preset in presets %}
                <div class="card col-2 m-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ preset.name }}</h5>
                        <pre class="card-text">{{ preset.id }}</pre>
                        {% block preset_extra %}
                        {% endblock %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

