{% extends "base.html.twig" %}

{% block title %}Presets{% endblock %}

{% block body %}
    <div class="container">
        <h1>Presets</h1>

        {%  block presets_actions %}
        {% endblock %}

        <div class="row" id="presets-row">

            {% for preset in presets %}
                {% block preset %}
                    <twig:PresetCard :preset="preset" />
                {% endblock %}
            {% endfor %}
        </div>
    </div>



{% endblock %}

