{% extends "presets/base.html.twig" %}

{% block title %}Presets Copy{% endblock %}

{% block actions %}
    <a class="btn btn-success" href="{{  url('presets_list') }}">
        <i class="bi bi-check"></i> Done
    </a>
{% endblock %}

{% block preset %}
    <twig:Tile
            :title="preset.name"
            :href="url('presets_copy', {'id': preset.id})"
            icon="bi-copy"
            class="tile-preset-copy"
    />
{% endblock %}

