{% extends "presets/base.html.twig" %}

{% block title %}Presets{% endblock %}

{% block presets_actions %}
    <a class="btn btn-success" href="{{  url('presets_list') }}">
        <i class="bi bi-check"></i> Done
    </a>
{% endblock %}

{% block preset_extra %}
    <a class="btn btn-danger" href="{{ url('presets_delete', {'id': preset.id}) }}" role="button">
        <i class="bi bi-trash"></i>
    </a>
{% endblock %}

