{% extends "presets/base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <twig:BreadcrumbItem href="{{ url('presets_delete_list') }}">
        Delete
    </twig:BreadcrumbItem>
{% endblock %}

{% block actions %}
    <a class="btn btn-success" href="{{  url('presets_list') }}">
        <i class="bi bi-check"></i> Done
    </a>
{% endblock %}

{% block preset %}
    <twig:Tile
            :title="preset.name"
            :href="url('presets_delete', {'id': preset.id})"
            icon="bi-trash"
            class="tile-preset-delete"
    />
{% endblock %}

