{% extends "presets/base.html.twig" %}

{% block presets_actions %}
    <a class="btn btn-primary" href="{{ url('presets_new') }}" role="button">
        <i class="bi bi-plus-circle-fill"></i> New
    </a>
    <a class="btn btn-success" id="sort-presets" href="{{ url('presets_sort_list') }}" role="button">
        <i class="bi bi-arrows-move"></i> Sort
    </a>
    <a class="btn btn-warning" id="delete-preset" href="{{ url('presets_delete_list') }}" role="button">
        <i class="bi bi-trash"></i> Delete
    </a>
{% endblock %}


{% block preset %}
    <twig:PresetCard :preset="preset" href="{{ path('preset_edit', {'id': preset.id}) }}"/>
{% endblock %}

