parameters:
    rememberPossiblyImpureFunctionValues: false
    level: max
    paths:
        - src
        - tests
        - public
        - web
    strictRules:
        booleansInConditions: false
        disallowedConstructs: false


includes:
    - tools/vendor/timeweb/phpstan-enum/extension.neon
    - tools/vendor/phpstan/phpstan-strict-rules/rules.neon
