parameters:
    level: max
    paths:
        - src
        - tests
        - web/start.php
    strictRules:
        booleansInConditions: false
        disallowedConstructs: false


includes:
    - tools/vendor/timeweb/phpstan-enum/extension.neon
    - tools/vendor/phpstan/phpstan-strict-rules/rules.neon
