{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
        <h1>Home</h1>
        <p>Welcome to the home page!</p>

        <twig:Alert message="This is really cool!" withCloseButton />
{% endblock %}
