{% extends "base_app.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <twig:BreadcrumbItem href="#">
        Motif
    </twig:BreadcrumbItem>
    <twig:BreadcrumbItem href="{{ url('motif_master_index') }}">
        Masters
    </twig:BreadcrumbItem>
{% endblock %}

{% block title %}Motif - Masters{% endblock %}

{% block content %}
    <div class="row" id="motif-masters-row">

        {% for id,name in masters %}
            <div class="col-sm-3 col-lg-2 p-0">
            {% block master %}
            {% endblock %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

