{% extends "base.html.twig" %}

{%  block body %}
    <ul>
    {% for id,name in masters %}
        <li>
            {{ name }} <a href="{{ path('motif_master_sync', {'id': id}) }}">Sync</a>
        </li>
    {% endfor %}
    </ul>
{%  endblock %}